.FranklinTemplate {
  width: 512px;
  // put on the center
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid black;

  .app-title {
    background: black;
    color: whitesmoke;
    height: 4rem;
    font-size: 1.5rem;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    background: white;
  }
}
