/* In your global styles.css file */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: black;
  }
}

/* Add these to your Tailwind config under `extend` */
.typewriter {
  animation: typing 2.3s steps(40, end), blinkCursor 0.75s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black; /* The cursor */
  letter-spacing: 3px; /* Adjust as needed */
}
